@use '../../styles/base';

.aboutContainer {
  @include base.no-borders;
  @include base.light-background;
  @include base.app-padding;

  height: max-content;

  h1 {
    font-weight: 500;
    color: base.$text-color-main;
  }

  p {
    margin: 1rem auto;
    color: base.$text-color-main;
  }
}