$text-color-main: #1b1f23;
$text-color-placeholder: #999FA6;

$border-color-main: #E1E3E6;
$border-color-active: #FF5500;
$border-color-disabled: #FFA375;

$padding-size-main: 1.5rem;

$header-height: 4rem;

$border-radius-main: 8px;

@mixin dark-background() {
  background-color: #333;
}

@mixin app-padding() {
  padding: 1.5rem;
}

@mixin light-background() {
  background-color: #fff;
}

@mixin app-background() {
  background-color: #f5f5f5;
}

@mixin shadow-main() {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin no-borders() {
  border-radius: $border-radius-main;
  border: 0;
}

@mixin borders() {
  border-radius: $border-radius-main;
  border: solid 1px $border-color-main;

  &:focus {
    border-color: $border-color-active;
  }
}

