@use '../../styles/base';

.cartTotalContainer {
  @include base.app-padding;
  @include base.no-borders;
  @include base.light-background;

  margin-top: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  bottom: base.$header-height + base.$padding-size-main;
}

.cartTotalText {
  font-weight: 500;
}