@use '../../styles/base';

.headerContainer {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include base.dark-background;
  @include base.app-padding;

  width: 100%;
  height: base.$header-height;

  h1 {
    color: #fff;
    transition: all 0.2s ease;

    &:hover {
      color: #ccc;
    }
  }
}

.basketContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  background: 0;
  border: 0;

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}

.ticketsAmountText {
  background-color: base.$border-color-active;
  @include base.no-borders;
  padding: 0.5rem;
  width: 2rem;
  text-align: center;

  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
}