@use '../../styles/base';

.clickerContainer {
  display: flex;
  align-items: center;
}

.amountText {
  min-width: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.clickerButton {
  color: #fff;
  background-color: base.$border-color-active;
  padding: 0;
  font-size: 1rem;

  width: 1.25rem;
  height: 1.25rem;

  border: 0;
  border-radius: 4px;

  &:disabled {
    background-color: base.$border-color-disabled;
    cursor: not-allowed;
  }

  &:not([disabled]):hover {
    filter: brightness(120%);
  }
}

@mixin button-background() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.plus {
  background-image: url('../../../public/icons/plus.svg');
  @include button-background;
}

.minus {
  background-image: url('../../../public/icons/minus.svg');
  @include button-background;
}