@use '../../styles/base';

.container {
  @include base.light-background;
  @include base.borders;
  overflow: hidden;

  > div {
    padding: 0 base.$padding-size-main base.$padding-size-main base.$padding-size-main;
  }

  > button {
    @include base.app-padding;
    width: 100%;
    height: 100%;
    text-align: left;
    border: 0;
    @include base.light-background;

    &::before {
      content: "";
      position: absolute;
      right: base.$padding-size-main * 2;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url('../../../public/icons/shevron-down.svg');
      background-size: cover;
      transition: all 0.25s ease-in-out;
    }
  }
}

.openButton {
  &::before {
    transform: rotate(-180deg);
  }
}
