@use '../../styles/base';

.container {
  display: flex;
  flex-direction: column;

  > * {
    margin-bottom: 1rem;
    @include base.no-borders;
    @include base.light-background;
  }

  h1 {
    @include base.app-padding;
    font-weight: 600;
    color: base.$text-color-main;
  }

  p {
    color: base.$text-color-main;
  }
}